<nav id="sidebar">
  <div class="sidebar-header">
    <h3><%= t(".management_bar") %></h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <%= link_to t(".home"), admin_root_path %>
    </li>

    <li>
      <%= link_to t(".movies"), admin_movies_path, method: :get %>
    </li>
    
    <li>
      <%= link_to t(".users"), "#pageSubmenu", data:{toggle: "collapse"}, aria:{expanded: false} %>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><%= link_to t(".list"), admin_users_path, method: :get %></li>
        <li><%= link_to t(".find"), "#" %></li>
      </ul>
    </li>

    <li>
      <%= link_to t(".booking"), admin_payments_path, method: :get %>
    </li>

    <li>
      <%= link_to t(".feedback"), "#" %>
    </li>
  </ul>
</nav>
