<tr>
  <td><%= @stt %></td><% @stt += 1 %>
  <td><%= link_to movie.title, admin_movie_path(id: movie.id) %>
  <td><%= movie.name %></td>
  <td><%= movie.duration_min %></td>
  <td><%= movie.release_time.strftime(t "time.formats.default") %></td>
  <td><%= movie.age_range %></td>
  <td><%= link_to t(".change"), "#" %></td>
  <td><%= link_to t(".delete"), "#" %></td>
</tr>
