<br>
<div class = "container">
  <div class = "row">
    <div class="container">
        <div class="col-md-9">
          <div class="ticket-wrapper">
            <div class="booking-bg">
              <div class="row">
                <div class="col-md-12">
                  <section class="booking-ticket">
                    <h2 class="booking-title">
                      <%= t ".choose_seat" %>:  &nbsp;
                    </h2>
                    <div class="seat-map-wrapper">
                      <div class="col-md-12">
                        <div class="seat-map ng-scope">
                          <% index = 1 %>
                          <% @room.row.times do |i| %>
                            <ul class="seat-row ng-scope">
                              <li class="index"><%= Settings.seat_code.seat_letter[i] %></li>
                              <li class="seat-col-wrapper" style="width:378px">
                                <ul class="seat-col">
                                  <% @room.length.times do %>
                                    <% if seat_status(@seats, Settings.seat_code.seat_letter[i] + index.to_s) == (Settings.ticket_status.unavailable || Settings.ticket_status.choosen)%>
                                      <li class = "cinema-selected"><%= index %></li>
                                    <% else %>
                                      <li class = "available">
                                        <%= link_to index, ticket_path(seat_number: (Settings.seat_code.seat_letter[i] + index.to_s)), remote: true, method: :post, id: "#{Settings.seat_code.seat_letter[i] + index.to_s}" %>
                                      </li>
                                    <% end %>
                                    <% index += 1 %>
                                  <% end %>
                                </ul>
                              </li>
                              <li class="index"><%= Settings.seat_code.seat_letter[i] %></li>
                            </ul>
                          <% end %>
                          <div class="screen"><%= t ".screen" %></div>
                            <div class="seat-cinema">
                            <span class="seat-cinema-selected"><%= t ".seat_selected" %></span>
                            <span class="seat-cinema-unavailable"><%= t ".seat_unavailable" %></span>
                            <span class="seat-cinema-normal"><%= t ".seat_normal" %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render "movie_ticket_info" %>
    </div>
  </div>
</div>
