<%= provide :path, save_payment_payment_path %>
<br>
<div class = "container">
  <div class = "row">
    <div class="container">
        <div class="col-md-9">
          <div class="ticket-wrapper">
            <div class="booking-bg">
              <div class="row">
                <div class="col-md-12">
                  <section class="booking-ticket">
                    <h2 id="choose-ticket-food" class="booking-title"><%= t ".choose_ticket" %></h2>
                    <div class="table-responsive">
                      <table class="table table-striped booking-ticket-table">
                        <colgroup>
                          <col width="45%">
                          <col width="25%">
                          <col width="15%">
                          <col width="15%">
                        </colgroup>
                        <thead>
                          <tr>
                            <th><%= t ".ticket_type" %></th>
                            <th><%= t ".amount" %></th>
                            <th><%= t ".price" %></th>
                            <th><%= t ".sum" %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <p><b><%= t ".standard_ticket" %></b></p>
                              <p class="des-corn"><%= t ".standard" %></p>
                            </td>
                            <td>
                              <div class="input-group input-booking">
                                <%= @tickets.size %>
                              </div>
                            </td>
                            <td><%= Settings.price.standard %></td>
                            <td><%= total_cost @tickets %></td>
                          </tr>
                          <tr>
                            <td>
                              <p><b><%= t ".vip_ticket" %></b></p>
                              <p class="des-corn"><%= t ".vip" %></p>
                            </td>
                            <td>
                              <div class="input-group input-booking">
                              </div>
                            </td>
                            <td><%= Settings.price.vip %></td>
                            <td id="#standard-price">0</td>
                          </tr>
                          <tr class="total">
                            <td colspan="3"><%= t ".sum" %></td>
                            <td><%= total_cost @tickets %></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render partial: "show_times/movie_ticket_info", locals: {seats: load_seats} %>
    </div>
  </div>
</div>
