<p><%= t(".hello") %> <%= @resource.email %>!</p>

<p><%= t(".request") %></p>

<p><%= link_to t(".change_request"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".ignore_request") %></p>
<p><%= t(".access_link_warning") %></p>
