<h1><%= t ".manage" %></h1>
<br>
<table class="table table-striped">
  <tr>
    <th><%= t ".id" %></th>
    <th><%= t ".customer" %></th>
    <th><%= t ".created_at" %></th>
    <th><%= t ".status" %></th>
    <th><%= t ".details" %></th>
  </tr>

  <% @stt = 1 + (@pagy.page - 1) * Settings.digits.admin_movie_per_page %>
  <%= render @payments %>
</table>
<%== pagy_bootstrap_nav @pagy %>
