<h1><%= t ".manage" %></h1>
<%= search_form_for(@q, url: admin_payments_path, class: "search-form") do |f| %>
  <div class="input-append">
    <%= t(".price_gt") %>
    <%= f.search_field :total_cost_gteq, class: "search-box" %> - 
    <%= f.search_field :total_cost_lteq, class: "search-box" %>
    <%= f.submit class:"btn btn-info" %>
  </div>
<% end %>
<br>
<table class="table table-striped">
  <tr>
    <th><%= t ".id" %></th>
    <th><%= t ".customer" %></th>
    <th><%= t ".created_at" %></th>
    <th><%= t ".status" %></th>
    <th><%= t ".amount" %></th>
    <th><%= t ".details" %></th>
  </tr>

  <% @stt = 1 + (@pagy.page - 1) * Settings.digits.admin_movie_per_page %>
  <%= render @payments %>
</table>
<%== pagy_bootstrap_nav @pagy %>
