<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class = "wrapper">
      <%= render "layouts/header" %>
      <%= toastr_flash.html_safe %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
